<p id="notice"><%= notice %></p>

<h1>NDLを作る</h1>

<h3><%= link_to '納本済みかチェックしてみる！', new_bookjudge_path %></h3>

<table class="table">
  <thead>
    <tr>
      <th>タイトル</th>
      <th>著者</th>
      <th>ISBN</th>
      <th>納本済みチェック</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookjudges.each do |bookjudge| %>
      <tr>
        <td><%= bookjudge.title %></td>
        <td><%= bookjudge.author %></td>
        <td><%= bookjudge.isbn %></td>
        <td><%= (bookjudge.judge_result == 1) ? "○" : "X" %></td>
	<!--
        <td><%= link_to 'Show', bookjudge %></td>
        <td><%= link_to 'Edit', edit_bookjudge_path(bookjudge) %></td>
	-->
        <td><%= link_to 'Destroy', bookjudge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


